 .u-section-1 {
  background-image: none;
  min-height: 1380px;
}

.u-section-1 .u-image-1 {
  height: 744px;
  object-position: 33.83% 67.46%;
  margin-top: 0;
  margin-bottom: 0;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  filter: brightness(0.45);
}

.u-section-1 .u-text-1 {
  font-style: italic;
  margin: -502px auto 0;
}

.u-section-1 .u-btn-1 {
  margin: 172px calc(((100% - 1140px) / 2)  + -43px) 0 auto;
  padding: 13px 31px 14px;
}

.u-section-1 .u-icon-1 {
  font-size: 1.5em;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1140px;
  margin: 96px auto 60px;
}

.u-section-1 .u-image-2 {
  min-height: 530px;
  background-image: url("images/1716111442960.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-1 {
  padding: 20px 85px 20px 20px;
}

.u-section-1 .u-image-3 {
  min-height: 530px;
  background-image: url("images/1716111473693.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-2 {
  padding: 20px;
}

.u-section-1 .u-image-4 {
  min-height: 530px;
  background-image: url("images/1716111716939.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-3 {
  padding: 20px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 1327px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2)  + 940px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-image-2 {
    min-height: 437px;
  }

  .u-section-1 .u-image-3 {
    min-height: 437px;
  }

  .u-section-1 .u-image-4 {
    min-height: 437px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-btn-1 {
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2)  + 720px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-image-2 {
    min-height: 335px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 30px;
  }

  .u-section-1 .u-image-3 {
    min-height: 335px;
  }

  .u-section-1 .u-image-4 {
    min-height: 335px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 2500px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2)  + 540px);
    margin-top: 20px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-image-2 {
    min-height: 754px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-1 .u-image-3 {
    min-height: 754px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-4 {
    min-height: 754px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 2191px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2)  + 340px);
    margin-top: 182px;
    margin-bottom: 16px;
    margin-left: auto;
  }

  .u-section-1 .u-image-2 {
    min-height: 475px;
  }

  .u-section-1 .u-image-3 {
    min-height: 475px;
  }

  .u-section-1 .u-image-4 {
    min-height: 475px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 522px;
}

.u-section-2 .u-image-1 {
  width: 487px;
  height: 487px;
  background-image: url("images/abstract-blur-wedding-hall.jpg");
  background-position: 50% 50%;
  margin: 10px 46px 0 auto;
}

.u-section-2 .u-text-1 {
  font-style: italic;
  font-size: 3rem;
  margin: -472px auto 0 89px;
}

.u-section-2 .u-text-2 {
  font-size: 1.5rem;
  font-style: italic;
  margin: 25px 592px 60px 97px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-top: 20px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 489px;
    margin-left: 78px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-2 {
    margin-right: 269px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-2 {
    margin-right: 89px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 823px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 340px;
    margin-right: 0;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 19px;
    margin-left: auto;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin: 34px 66px 52px 12px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 292px;
}

.u-section-3 .u-text-1 {
  margin-bottom: 20px;
  font-size: 1.25rem;
  margin-top: 20px;
  font-style: italic;
} .u-section-4 {
  background-image: url("images/flat-lay-composition-wrapped-presents-with-copy-space-1.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 490px;
}

.u-section-4 .u-text-1 {
  font-style: italic;
  margin: 204px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 404px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 309px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 232px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 146px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 414px;
}

.u-section-5 .u-text-1 {
  font-style: italic;
  margin: 44px 490px 0 18px;
}

.u-section-5 .u-image-1 {
  width: 300px;
  height: 300px;
  margin: -34px 112px 0 auto;
}

.u-section-5 .u-text-2 {
  font-style: italic;
  font-size: 1.5rem;
  font-weight: 700;
  margin: -248px 701px 27px 18px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    margin-right: 308px;
    margin-left: 0;
  }

  .u-section-5 .u-image-1 {
    margin-top: 20px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 519px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    margin-right: 88px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 20px;
    margin-right: 299px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    margin-right: 0;
  }

  .u-section-5 .u-text-2 {
    margin-right: 119px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 746px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 37px;
    margin-right: -27px;
    margin-left: 27px;
  }

  .u-section-5 .u-image-1 {
    margin-top: 27px;
    margin-right: 40px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 400px;
}

.u-section-6 .u-text-1 {
  font-style: italic;
  margin: 19px 0 60px;
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1064px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: 0;
  }
} .u-section-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('images/travel.png');
  background-position: 50% 50%;
}

.u-section-7 .u-sheet-1 {
  min-height: 550px;
}

.u-section-7 .u-text-1 {
  font-style: italic;
  margin: 329px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 454px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 348px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 261px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 164px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 887px;
}

.u-section-8 .u-image-1 {
  width: 697px;
  height: 697px;
  object-position: 0% 50%;
  background-image: url("images/10476.jpg");
  background-position: 50% 50%;
  margin: 0 0 0 auto;
}

.u-section-8 .u-group-1 {
  min-height: 556px;
  width: 481px;
  height: auto;
  margin: -381px auto 15px 0;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px 38px 18px;
}

.u-section-8 .u-text-1 {
  font-style: italic;
  font-size: 2.25rem;
  margin: 12px 0 0 24px;
}

.u-section-8 .u-text-2 {
  font-size: 1.5rem;
  line-height: 2;
  font-style: italic;
  font-weight: 700;
  margin: 24px 12px 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 730px;
  }

  .u-section-8 .u-image-1 {
    width: 540px;
    height: 540px;
  }

  .u-section-8 .u-group-1 {
    margin-top: -224px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 887px;
  }

  .u-section-8 .u-image-1 {
    width: 340px;
    height: 340px;
    margin-right: 400px;
  }

  .u-section-8 .u-group-1 {
    margin-top: -9px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-8 .u-text-1 {
    width: auto;
    margin-top: 16px;
    margin-left: 0;
  }

  .u-section-8 .u-text-2 {
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 159px;
}

.u-section-9 .u-text-1 {
  font-size: 1.5rem;
  font-style: italic;
  margin: 0 0 29px;
}

@media (max-width: 575px) {
  .u-section-9 .u-text-1 {
    font-size: 1.1875rem;
  }
}